<ion-header>
  <ion-toolbar>
    <ion-title text-center>PRODUK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" padding>
	<ion-list>
		<ion-item class="item item-avatar">
			<img src="../assets/img/h.jpg">
			<ion-label >   HONOR BAND 5</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/m3.jpg">
			<ion-label >   MI BAND 3</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/m4.jpg">
			<ion-label >   MI BAND 4</ion-label>
		</ion-item><p></p>
	</ion-list>
</ion-content>
